results/request_1_2/iter_3/finish/2023/11/07/11_16_task_4/cmd.txt
results/request_1_2/iter_3/finish/2023/11/06/20_15_task5/cmd.txt
results/*
logs/*

query_devs/*

src/models/__pycache__/*
*.pyc
# *.ipynb
*.vscode/
*.zip
*.html
*.xlsx
*.csv
docs/
*.rst
*.docx
config_quest_1_2_copy.yaml
*.spec
*.toc
*.pyz
build/
dist/
__pycache__/
*.json
GUI/
modules/connector.py
tool/zft/config_sql/*
tool/yjby/config_sql/*
tool/yjby/parser_scripts

*.sql
!templates/request_6_1/iter_1/stable/*.sql
!templates/request_6_1/iter_1/stable/*.sql

configs_old/
data/
modules_fairyland/copy/

*.yaml

ETL

cmd
cmd_nonlocal
dumbdumb
draft
visual
tool
compare

# special root files
QuestSquirrel.code-workspace
run_main.py
run_update.py
set_path.sh
test_apschedular.py
test_apscheduler_stable.py
tool_file_copy.py
connector_copy.py
schedular_fairydemon copy.py
qquest_draft.py

quest_goddess_iter_5.py
qquest_goddess_2_1_iter_5.py
qquest_goddess_2_2_iter_1.py
qquest_6_3_iter_1.py
quest_goddess_3d_iter_1.py

qquest_update.py
qquest_7_1_1_iter_1.py
config_goddess.yaml

